@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Raleway:wght@300;400;500;600;700&display=swap');
body,html { 

    line-height:l.5;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
}

* {
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
}

.container {
    width:90%;
    margin: auto;
}

/* nav bar portion right here buddy */

header {
    font-family: Archivo Black, sans-serif;
    background:#ffffff;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    background-color: rgb(255, 255, 255);
    float: left;
    padding: 0px;

}

nav {
    float: right;
    padding:;
}

nav ul { 
    margin: 0;
    padding: 0;
    list-style: none;
}
/* organize what "i" is */

nav li {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0px;
    padding-top:100px;
    padding-bottom: 100px;

    position: relative;
}
nav a {
    color: rgb(2, 2, 2);
    text-decoration:none;
    text-transform: uppercase;
    font-size: 30px;
}

nav a:hover {
    color: rgb(255, 0, 0);
    opacity:75%;
}

/* about me */

.picture of me {
    margin: 
}

img {
    float:left;
    shape-outside: polygon(25% 0%, 75% 0%, 100% 50%, 72% 100%, 0 100%, 0 0);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 72% 100%, 0 100%, 0 0);
}


/* footer here */

.container{
    max-width:2560px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style:none;
}
.footer {
    background: rgb(252,212,212);
background: linear-gradient(180deg, rgba(252,212,212,0) 0%, rgba(241,151,151,1) 20%);
  
    /* background-color: rgba(241, 151, 151, 0.801); */
    padding: 5px 0;
}

.footer-col {
    width: 25%;
    padding: 0 10px;
}
.footer-col h4{
    font-size: 35px;
    color:rgb(36, 31, 31);
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color:rgb(0, 0, 0);
    height: 5px;
    box-sizing: border-box;
    opacity: 70%;
    width: 400px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a{
   font-size: 20px;
   text-transform: capitalize;
   text-shadow: 11px 16px 14px rgb(96, 206, 250);
   margin:0 10px 10px 0;
   color:rgb(29, 214, 205);
   text-decoration: none;
   font-weight: 300;
   color:rgb(255, 255, 255);
   display: block;
   transition: all 0.3s ease;
}
.footer-col ul li a:hover {
    color:#ffffff;
    padding-left: 80px;
}

.footer-col .social-links a{
    display:inline-block;
    text-shadow: 11px 16px 14px rgba(140, 204, 255, 1);
    color: white;
    height: 40px;
    width: 40px;
    margin:0 40px 40px 0;
    text-align: center;
    line-height: 40px;
}

p   {
    text-align: center;
}